<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="footer.css" />

    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <div>
      <%- include("./header"); %>
      <main>
        <h1>About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          commodi modi quo asperiores, deleniti officiis dolores, unde enim
          totam illum, aut vitae cum odit. Impedit quidem doloribus ex.
          Reprehenderit, maxime.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
          perferendis, eum magni harum suscipit dolorum odit ducimus sit
          mollitia maiores tenetur accusamus consequatur debitis earum pariatur
          nisi dignissimos ea eaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
          inventore earum dolorem magnam praesentium aut natus? Magnam maxime
          debitis nemo quos officiis suscipit ullam, voluptatibus fugiat,
          perferendis possimus cupiditate id.
        </p>
        <h2>Lorem</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
          maiores mollitia obcaecati itaque quas amet cumque labore ex
          praesentium veritatis natus qui assumenda nulla eos quos facilis,
          pariatur molestiae ut.
        </p>
        <h3>Lorem ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae optio
          possimus repellendus similique distinctio, inventore voluptatibus
          assumenda quas alias, ut ullam vel nobis nisi quasi, illo nemo eveniet
          hic enim!
        </p>
      </main>
      <%- include("./footer")%>
    </div>
  </body>
</html>
