<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>

    <h1>Albums</h1>
    <ul>
      <% albums.map((album) => {%>
      <li><%= album.albums%></li>
      <%})%>
    </ul>
    <a href="/albums/new">Post Album</a>
  </body>
</html>
