<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />

    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <main>
      <h1>All Albums</h1>
      <ul>
        <% albums.map((album, index) => {%>
        <li>
          <a href="albums/<%= regExpFunction(album.albums)%>">
            <%= album.albums%>
          </a>
        </li>
        <%})%>
      </ul>
      <a href="/albums/new">Post Album</a>
    </main>
  </body>
</html>
