<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="footer.css" />
    <!-- <link rel="stylesheet" href="index.css" /> -->
  </head>
  <body>
    <%- include("./navbar"); %> <%- include("./header"); %>
    <div class="album">
      <h1>Add new Album</h1>
      <a href="/albums">Go back</a>
      <%- include("./form"); %> <%- include("./footer"); %>
    </div>
  </body>
</html>
