<footer>
  Made by:
  <p class="name">Gonzalo Gomez</p>
  On:
  <a href="https://github.com/MpZero">GitHub.</a>
  <p>-</p>
  m6x11 font by
  <a href="https://managore.itch.io/">Daniel Linssen.</a>
</footer>
