<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <div class="form-wrapper">
      <form class="form" action="/new" method="post">
        <label for="artist">artist</label>
        <input type="text" name="artist" id="artist" />
        <label for="album">album</label>
        <input type="text" name="album" id="album" />
        <label for="genre">genre</label>
        <input type="text" name="genre" id="genre" />
        <label for="date">date</label>
        <input type="date" name="date" id="date" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
