<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />

    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>

    <h1>Genres</h1>

    <ul>
      <% genres.map((genre, index) => {%>
      <li><a href="genres/<%= genre.genres%>"> <%= genre.genres%> </a></li>
      <%})%>
    </ul>
  </body>
</html>
