<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document</title>
  </head>
  <body>
    <%- include("./navbar"); %>

    <h1>Genres</h1>
    <a href="/genres/0">Rock</a>
    <a href="/genres/1">Metal</a>
    <a href="/genres/2">Pop</a>
  </body>
</html>
