.album-wrapper {
  background-color: white;
  /* padding: 1rem; */
  font-size: 0.4rem;
  max-width: 150px;
  max-height: 300px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
