main {
  color: white;
}
.album-wrapper {
  background-color: white;
  /* padding: 1rem; */
  font-size: 0.4rem;
  max-width: 150px;
  max-height: 300px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.album-h1 {
  border-bottom: 1px solid #666;
  margin: 1rem;
}
.album-img-wrapper {
  display: flex;
  justify-content: center;
  margin-block: 0.8rem;
}
.album-img {
  width: 100%;
  max-width: 800px;
}

.album-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  margin-bottom: 0.5rem;
}
