main {
  color: white;
}
.album-wrapper {
  background-color: white;
  /* padding: 1rem; */
  font-size: 0.4rem;
  max-width: 150px;
  max-height: 300px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.album-h1 {
  border-bottom: 1px solid #666;
  margin: 1rem;
}
.album-img-wrapper {
  display: flex;
  justify-content: center;
  margin-block: 0.8rem;
}
.album-img {
  width: 100%;
  max-width: 600px;
}

.album-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 1rem;
  margin-bottom: 0.5rem;
}

.artists-link,
.genres-link {
  color: #83c4fa;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.artists-link:hover,
.genres-link:hover,
.back-link:hover {
  color: #83fafa;
  text-decoration: underline;
}

.p-score {
  color: gold;
}
.update-link,
.delete-form {
  margin: 1rem 1rem 1rem 0;
}
.update-btn,
.delete-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 4px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.update-btn:hover,
.delete-btn:hover {
  transform: translateY(-4px);
}

.update-btn {
  background-color: royalblue;
  color: white;
}
.update-btn:hover {
  color: royalblue;
  background-color: white;
  text-decoration: underline;
}

.delete-btn {
  background-color: crimson;
  color: white;
}
.delete-btn:hover {
  color: crimson;
  background-color: white;
}

.desc-wrapper {
  border-top: 1px solid #666;
  margin-inline: 1rem;
  padding-block: 1rem;
  grid-column: 1/3;
}

.back-link-wrapper {
  margin: 1rem;
}

.back-link {
  color: #83c4fa;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 550px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .album-h1 {
    grid-column: 1/3;
  }

  .album-img-wrapper {
    margin-left: 1rem;
    /* border: 1px solid #404040; */
    margin-top: 0;
  }

  .album-info-wrapper {
    max-width: 360px;
    padding: 1rem;
    align-content: space-around;
  }

  .album-info-wrapper p {
    border-bottom: 1px solid #404040;
  }

  .update-btn,
  .delete-btn {
    padding: 0.4rem 0.6rem;
  }
}

@media (min-width: 950px) {
  .album-img-wrapper {
    border: 1px solid #404040;
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .album-img-wrapper {
    border: none;
    padding: 1rem;
  }
}

@media (min-width: 1270px) {
  .album-img-wrapper {
    border: 1px solid #404040;
  }
}
