main {
  color: white;
}

.artist-h1 {
  border-bottom: 1px solid #666;
  margin: 1rem;
}
.artist-img-wrapper {
  display: flex;
  justify-content: center;
  margin-block: 0.8rem;
}

.artist-img-main,
.artist-img {
  width: 100%;
  max-width: 600px;
}

.artist-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 1rem;
  margin-bottom: 0.5rem;
}

.p-score {
  color: gold;
}

.desc-wrapper {
  border-top: 1px solid #666;
  margin-inline: 1rem;
  padding-block: 1rem;
  grid-column: 1/3;
}
/*  */
.albums-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  padding: 0.6rem;
}

.artist-wrapper {
  background-color: white;
  /* font-size: 0.4rem; */
  /* max-width: 150px; */
  /* max-height: 300px; */
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  will-change: transform;

  box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.p-wrapper {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-block: 1rem;
}

.p-wrapper p {
  border-bottom: 1px solid #666;
}

.p-wrapper p:nth-child(9),
.p-wrapper p:nth-child(10) {
  border-bottom: none;
}

.artist-wrapper:hover {
  transform: translateY(-4px);
}

.artist-link {
  text-decoration: none;
  padding: 0.2rem;

  -webkit-box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.artist-link p:nth-child(1) {
  color: #5cabeb;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.artist-link:hover p:nth-child(1) {
  color: #4f94d5;
  text-decoration: underline;
}

.artist-img {
  border-radius: 8px;
}

/*  */

.album-info-wrapper {
  padding: 0.5rem;
  font-size: 0.6rem;
  text-decoration: none;
}

.no-albums-wrapper {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}

.no-albums-wrapper > p {
  margin-bottom: 0.5rem;
}
.add-album-btn {
  grid-column: 1/-1;

  text-align: center;
  /* font-size: 0.8rem; */
  padding: 0.5rem;
  text-decoration: none;
  min-width: 100%;
  color: white;
  background-color: #f99400;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  will-change: transform;

  -webkit-box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.add-album-btn:hover {
  color: #f99400;
  background-color: white;
  transform: translateY(-4px);
}

.artist-link p {
  color: black;
  text-align: center;
  margin: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.artist-link p:nth-child(2) {
  font-size: 0.5rem;
}
.back-link-wrapper {
  margin: 1rem;
}

.back-link {
  color: #83c4fa;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
.back-link:hover {
  text-decoration: none;
  color: #83fafa;
}

.no-albums-wrapper {
  grid-column: 1/-1;
}
@media (min-width: 600px) {
  .albums-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
  }
  .artist-h1 {
    grid-column: 1/3;
  }

  .artist-img-wrapper {
    margin-top: 0;
  }

  .p-wrapper {
    width: 80%;
  }

  .artist-info-wrapper {
    font-size: 1.2rem;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .album-info-wrapper {
    font-size: 0.8rem;
  }

  .artist-link p:nth-child(2) {
    font-size: 0.8rem;
  }

  .back-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 660px) {
  .p-wrapper {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .artist-img-wrapper {
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid #404040;
  }

  .artist-info-wrapper {
    font-size: 1rem;
    padding: 1rem;
    justify-items: start;
    max-width: 600px;
  }

  .p-wrapper {
    width: 100%;
  }

  .desc-wrapper {
    font-size: 1rem;
  }

  .albums-wrapper {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}
