.contact-wrapper {
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-wrapper p {
  color: white;
}

.contact-wrapper h1,
h2,
h3 {
  margin-block: 1rem;
}
