footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  color: white;
  border-top: 2px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: clamp(0.5rem, 2.5vw, 0.8rem);
}

.name {
  color: #f04;
}

footer a {
  text-decoration: underline;
  color: #f04;
}

footer a:hover {
  color: gold;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  footer {
    padding: 2rem;
  }
}
