/* MAIN START */

.latest-wrapper,
.top3-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.latest-album-wrapper,
.top3-album-wrapper {
  background-color: red;
  padding: 1rem;
}

/* MEDIA QUERY */

@media (min-width: 768px) {
  /* .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .links-wrapper {
    gap: 1rem;
  }

  header {
    justify-content: space-between;
    padding: 1rem 2rem;
  } */
}
