/* MAIN START */
.albums-main,
.top3-wrapper {
  padding: 0.4rem;
}
main > h1,
main > h2 {
  margin: 1rem;
  color: white;
}

.lorem {
  color: white;
  margin: 0 1rem 1rem 1rem;
}
.albums-main {
  color: white;
  text-align: left;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
}

/* /////////////////// */
.album-wrapper {
  background-color: white;
  padding: 0.2rem;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  -webkit-box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.album-wrapper:hover {
  transform: translateY(-4px);
}

.album-link p:nth-child(1) {
  color: #5cabeb;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.album-link:hover p:nth-child(1) {
  color: #4f94d5;
  text-decoration: underline;
}

.album-img {
  border-radius: 8px;
  width: 100%;
}

.album-info-wrapper {
  color: black;
  padding: 0.5rem;
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
}

.album-info-wrapper > a {
  text-align: center;
  margin: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.album-info-wrapper > a {
  text-decoration: none;
  color: #5cabeb;
}
.album-info-wrapper > a:hover {
  text-decoration: underline;
  color: #4f94d5;
}

/* .album-info-wrapper > a {
  color: black;
  text-align: center;
  margin: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

.release-p {
  text-overflow: clip;
  white-space: nowrap;
}
/* /////////////////// */

.latest-wrapper {
  display: grid;
  gap: 1rem;
}

.top3-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
  justify-content: center;
  margin-bottom: 1rem;
}
/* MEDIA QUERY */

@media (min-width: 470px) {
  .albums-main,
  .top3-wrapper {
    gap: 0.4rem;
  }
}

@media (min-width: 470px) {
  .albums-main,
  .top3-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .albums-main,
  .top3-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .albums-main,
  .top3-wrapper {
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem;
  }
}
