.main-wrapper {
  padding: 1rem;
}

.main-wrapper {
  color: white;
}

.main-wrapper > h1 {
  border-bottom: 1px solid #666;
  margin-block: 0.5rem;
}

.update-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit-btn {
  color: white;
  background-color: royalblue;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 4px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  will-change: transform;
}

.submit-btn:hover {
  color: royalblue;
  background-color: white;
}

.submit-btn,
.back-link {
  will-change: transform;
}

.submit-btn:hover,
.back-link:hover {
  transform: translateY(-4px);
}
/*  */

.back-link-wrapper {
  display: flex;
}

.back-link {
  text-align: center;
  cursor: pointer;
  min-width: 100%;
  margin-top: 0.5rem;
  background-color: crimson;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  margin-bottom: 1rem;
  padding: 0.1rem;
}

.back-link {
  text-decoration: none;
  color: white;
}

.back-link:hover {
  color: crimson;
  background-color: white;
  text-decoration: underline;
}

.back-link a:active {
  color: black;
  text-decoration: none;
}

@media (min-width: 600px) {
  .main-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}
